h1
    {color: red;
    text-align: center;
    font-size: 100px;

    }



nav
{
    display: inline-block;
    width: 800px;
    text-align: left;
}

nav ul
{
    list-style-type: none;
}

nav li
{
    display: inline-block;
    margin-right: 15px;
}

nav a
{
    font-size: 1.5em;
    color: #181818;
    padding-bottom: 3px;
    text-decoration: none;
}

nav a:hover
{
    color: #7c4b28;
    border-bottom: 3px solid #760001;
}

    